.title-text{
    color:#11457d ;
}

.medicine-card {
    margin: 10px 0;
    transition: 0.3s;
  }
  
  .medicine-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 10px rgba(32, 149, 221, 0.744);
  }
  
  .add-cart-button {
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
    margin-right : 10px;
    display: inline-flex !important;
    text-align: left !important;
    
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .accordion-summary {
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #dee2e6;
    /* background-color: #d17676; */

  }
  
  .accordion-details {
    /* background-color: #ffffff; */
    /* background-color: rgba(192, 201, 208, 0.993); */
    background-color: #dee0e1;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }

  .medicine-container{
    background-image: url('../../../../public/images/quizdashboard.png');
    background-size: cover ;  
    background-repeat: repeat;  
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .remove-icon{
    background-color: rgb(185, 192, 198);
    border-radius: 50%;
  }

  .add-icon{
    background-color: rgb(185, 192, 198);
    border-radius: 50%;
  }
  .btn-txt{
    font-size: large !important;
  }